<div class="sub_header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 col-xl-6">
                <div id="logo">
                    <a href="index.html"><img src="~/Content/img/1.png" alt="" title="" /></a>
                </div>
            </div>
            <div class="col-md-8 col-xl-6">
                <div class="sub_header_social_icon float-right">
                    <a href="#"><i class="flaticon-phone"></i>+02 213 - 256 (365)</a>
                </div>
            </div>
        </div>
    </div>
</div>